
// 代码组合
.cross-code-group {

}

// 代码区域 盒子
.cross-code-box {
  padding-top:30px;
}

// 代码区域
.cross-code-area {
  background: #fff;
}

// btn 组合
.cross-btn-group {
  text-align: center;
}

// 跨域方式介绍
.cross-mode-introduce {
  padding-top:20px;
}